

.navbar {
	position: fixed;

}
.navbar ul li a {

	top: 5px;

	margin: 0 2px 0 2px;
	height: 30px;
	width: 500px;

}

.navbar ul li {
	display: inline-block;
	text-align: center;

}

button {
	background-color: #93BDED;
	box-shadow: 10px;
	border: 1px double white;
	border-radius: 10px;
}

/* there is one current_page on each html page, does this work? */
#current_page {

}

.header {
	background-color: grey;
	height: 300px;
	background-image: url("capri.jpg");
	margin: 0;
	background-size: cover;
	border-radius: 50px 50px 0 0 ;
	right: 50px;
	left: 50px;
	position: relative;
	max-width: 750px;
	top: 50px;
	margin: 10px;
	z-index: -1;
}

/*
.gutter {
	width: 100px;
	background-color: red;
}
	#gutter_left {
		float: left;
	}

	#gutter_right {
		float: right;
	}
*/

#name {
	position: relative;
	top: 100px;
	text-align: center;
	font-family: Futura;
}

.main {
	height: 600px;
	background-color: tan;
	text-align: center;
	margin: 0 auto;
	max-width: 750px;
	position: relative;
	top: 50px;
	font-family: futura;


}

h2 {
	margin: 5px;
	font-family: futura;
	text-align: center;
	top: 130px;
	position: relative;
}
	h2 :hover {
		font-size: 200px;
	}

#gallery {

}
	#gallery img {
		height: 165px;
		margin: 11px;
		border-radius: 20px;
		float: left;
	}

.social_media img {
	border: 2px solid white;
	border-radius: 200px;
	margin: 30px 10px 0px 10px;
	text-align: center;
	width: 90px;

}

.social_media a :hover {
	margin: 10px 10px 10px 10px;
	text-align: center; 

}
